@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@font-face {
  font-family: "BeaufortforLOL-BoldItalic";
  src: url("./Fonts_Package/BeaufortForLoL-OTF/BeaufortforLOL-Bold.otf");
  font-weight: bold;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

/*scrollbar */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: goldenrod;
  transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(141, 107, 20);
  transition: 0.3s;
}

/* For Team Registration */

.select {
  width: fit-content;
  position: relative;
  transition: 300ms;
  color: white;
  overflow: hidden;
}

.selected {
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 100000;
  font-size: 15px;
  color: #f18018;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: #f18018 1px solid;
}

.arrow {
  position: relative;
  right: 0px;
  height: 10px;
  transform: rotate(-90deg);
  width: 25px;
  fill: white;
  z-index: 100000;
  transition: 300ms;
}

.options {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  top: -100px;
  transition: 300ms;
  border: #f18018 1px solid;
  top: 0;
}

.select:hover > .options {
  opacity: 1;
  top: 0;
}

.select:hover > .selected .arrow {
  transform: rotate(0deg);
}

.option {
  cursor: pointer;

  text-align: left;
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
  width: 150px;
  font-size: 15px;
}
.option:hover {
  color: #f18018;
}

.options input[type="radio"] {
  display: none;
}

.options label {
  display: inline-block;
}
.options label::before {
  content: attr(data-txt);
}

.options input[type="radio"]:checked + label {
  display: none;
}

.options input[type="radio"]#all:checked + label {
  display: none;
}

.select:has(.options input[type="radio"]#all:checked) .selected::before {
  content: attr(data-default);
}
.select:has(.options input[type="radio"]#option-1:checked) .selected::before {
  content: attr(data-one);
}
.select:has(.options input[type="radio"]#option-2:checked) .selected::before {
  content: attr(data-two);
}
.select:has(.options input[type="radio"]#option-3:checked) .selected::before {
  content: attr(data-three);
}
.select:has(.options input[type="radio"]#option-4:checked) .selected::before {
  content: attr(data-four);
}
.select:has(.options input[type="radio"]#option-5:checked) .selected::before {
  content: attr(data-five);
}

.select h2 {
  font-size: 16px;
  text-align: left;
  color: #f18018;
  margin-bottom: 6px;
}

.customButton {
  font-family: "Marcellus SC", serif;
  color: black;
  box-shadow: inset 0 0 2px #000000;
  background: linear-gradient(
    to bottom,
    rgba(240, 128, 24, 1),
    rgba(241, 224, 133, 1)
  );
  border: none !important;
}
.customButton:hover {
  transform: scale(1.1);
  color: black !important;
}
.customButton:hover,
.customButton:focus {
  background: linear-gradient(
    to bottom,
    rgba(240, 128, 24, 1),
    rgba(241, 224, 133, 1)
  ) !important;
}

.ant-modal-header {
  background: linear-gradient(
    89.94deg,
    rgba(255, 255, 255, 0.5) 55.48%,
    rgba(122, 122, 122, 0.115) 110.86%
  ) !important;
  height: 50px !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px !important;
  margin-bottom: 0px !important;
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
}
.ant-modal-content {
  background: linear-gradient(
    89.94deg,
    rgba(255, 255, 255, 0.5) 55.48%,
    rgba(122, 122, 122, 0.115) 110.86%
  ) !important;

  padding: 0px !important;
}

.ant-modal-body{
  overflow-y: scroll !important;
  height: 427px !important;
}
.ant-modal-body::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.ant-modal-body::-webkit-scrollbar-track {
  background: rgba(136, 136, 136, 0.61);
}

/* Handle */
.ant-modal-body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 1);
  transition: 0.3s;
}


